<h1>Vacations</h1>

<% for vacation in @vacations %>
  <div class="vacation">
    <h2><%= vacation.title %></h2>
    <p><%= vacation.body %></p>
    <% for beat in vacation.beats %>
      <%= image_tag beat.picture %></p>
    <% end %>
  </div>
<% end %>



<%= link_to "Start New Vacation", new_vacation_path, :class => "btn" %>


